# 1.Project Title: [Data Classificcation]
___

#### a. Introduction

- **Objective:** Clearly state the goal of your project. What problem are you trying to solve?
- **Background:** Provide context on why this problem is important or interesting. Mention any relevant research, datasets, or industry relevance.
- **Scope:** Define the boundaries of your project. What will be included, and what will be out of scope?

#### b. Project Overview

- **Project Summary:** A brief overview of the project, including the main steps you will take to achieve the objective.
- **Milestones:** Outline the key milestones or phases of the project. For example:
  - Data Collection
  - Data Preprocessing
  - Model Selection
  - Model Training and Evaluation
  - Results and Conclusion


#### c. About the Author

- **Name:** [Ahmed Ferganey]
- **Background:** Junior Data Scientist and Machine Learning Engineer with a strong foundation in embedded systems, industrial engineering, and supply chain management. Knowledgeable in statistical analysis, NLP, Computer Vision, and deep learning, with hands-on experience in Python, SQL, and Docker.
- **Motivation:** Why are you interested in this project? What do you hope to learn or achieve?
- **Contact:** [LinkedIn acc](https://www.linkedin.com/in/ahmed-ferganey/)



#### d. Tools and Technologies

- **Programming Languages:** List the programming languages you will use (e.g., Python).
- **Libraries and Frameworks:** List the specific libraries and frameworks you will use (e.g., TensorFlow, scikit-learn).
- **Software and Tools:** Mention any software or tools necessary for the project (e.g., Jupyter Notebook, Git).

#### e. Dataset Description

- **Dataset Name:** [Name of the Dataset]
- **Source:** Where did you obtain the dataset? Include a link if possible.
- **Description:** Briefly describe the dataset, including the number of features, the target variable, and any other important details.
- **Data Preprocessing:** Outline any preprocessing steps you anticipate, such as data cleaning, normalization, or feature engineering.

#### f. Methodology

- **Model Selection:** Describe the types of models you are considering and why.
- **Evaluation Metrics:** Define how you will evaluate your models' performance (e.g., accuracy, F1-score).
- **Validation Strategy:** Explain how you will validate your models, such as cross-validation or a

### 2. importing libraries
___

In [1]:
import os 
import io
import sys
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set(style="whitegrid")
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectPercentile , f_classif ,SelectKBest
from sklearn.feature_selection import chi2 , f_classif 
import plotly.express as px
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression,SGDClassifier
from sklearn.naive_bayes import GaussianNB,BernoulliNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis,QuadraticDiscriminantAnalysis
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.decomposition import PCA
from tqdm import tqdm

### 3. reading the raw data
___

In [2]:
base_path = '/media/ahmed-ferganey/AI4/01-Learning_AI'
sub_folder_one = 'Movies'
sub_folder_two = 'Json'
MoviesFilesDir = f'{base_path}/MyGitHub/HeshamAsem_ML_App3/{sub_folder_one}'
JsonFilesDir = f'{base_path}/MyGitHub/HeshamAsem_ML_App3/{sub_folder_two}'

In [3]:
def StringToDict(f) : 
    f = f.strip('"[{').strip('}]"')
    f = f.split('}, {')
    FinalList = []

    for item in f : 
        
        NewList = [i for i in [i.strip().split(':') for i in item.split(',')]]
        
        FinalList.append({i[0].replace("'",""):i[1].replace("'","") for i in NewList if len(i)>1 })

    return FinalList

In [4]:
os.listdir(MoviesFilesDir)

['.ipynb_checkpoints',
 'credits.csv',
 'keywords.csv',
 'links.csv',
 'links_small.csv',
 'Movies.ipynb',
 'movies_metadata.csv',
 'ratings.csv',
 'ratings_small.csv']

In [5]:
# File paths
keywords_path = f'{MoviesFilesDir}/keywords.csv'
credits_path = f'{MoviesFilesDir}/credits.csv'
links_path = f'{MoviesFilesDir}/links.csv'
links_small_path = f'{MoviesFilesDir}/links_small.csv'
movies_metadata_path = f'{MoviesFilesDir}/movies_metadata.csv'
ratings_path = f'{MoviesFilesDir}/ratings.csv'
ratings_small_path = f'{MoviesFilesDir}/ratings_small.csv'



# Reading CSV files
keywords        = pd.read_csv(keywords_path)
credits         = pd.read_csv(credits_path)
links           = pd.read_csv(links_path)
links_small     = pd.read_csv(links_small_path)
movies_metadata = pd.read_csv(movies_metadata_path)
ratings         = pd.read_csv(ratings_path)
ratings_small   = pd.read_csv(ratings_small_path)

/tmp/ipykernel_186011/2618754945.py:17: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_metadata = pd.read_csv(movies_metadata_path)

In [6]:
credits

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

In [7]:
credits['castlist'] = credits['cast'].apply( lambda x : StringToDict(x))
credits['crewlist'] = credits['crew'].apply( lambda x : StringToDict(x))

In [8]:
credits

,cast,crew,id,castlist,crewlist
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,"[{'cast_id': ' 14', 'character': ' Woody (voic...","[{'credit_id': ' 52fe4284c3a36847f8024f49', 'd..."
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,"[{'cast_id': ' 1', 'character': ' Alan Parrish...","[{'credit_id': ' 52fe44bfc3a36847f80a7cd1', 'd..."
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,"[{'cast_id': ' 2', 'character': ' Max Goldman'...","[{'credit_id': ' 52fe466a9251416c75077a89', 'd..."
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,"[{'cast_id': ' 1', 'character': ' ""Savannah Va...","[{'credit_id': ' 52fe44779251416c91011acb', 'd..."
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,"[{'cast_id': ' 1', 'character': ' George Banks...","[{'credit_id': ' 52fe44959251416c75039ed7', 'd..."
...,...,...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050,"[{'cast_id': ' 0', 'character': ' ', 'credit_i...","[{'credit_id': ' 5894a97d925141426c00818c', 'd..."
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109,"[{'cast_id': ' 1002', 'character': ' Sister An...","[{'credit_id': ' 52fe4af1c3a36847f81e9b15', 'd..."
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758,"[{'cast_id': ' 6', 'character': ' Emily Shaw',...","[{'credit_id': ' 52fe4776c3a368484e0c8387', 'd..."
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506,"[{'cast_id': ' 2', 'character': ' ', 'credit_i...","[{'credit_id': ' 533bccebc3a36844cf0011a7', 'd..."
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257,[{}],"[{'credit_id': ' 593e676c92514105b702e68e', 'd..."

In [9]:
keywords

           id                                           keywords
0         862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1        8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2       15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3       31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4       11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
...       ...                                                ...
46414  439050             [{'id': 10703, 'name': 'tragic love'}]
46415  111109  [{'id': 2679, 'name': 'artist'}, {'id': 14531,...
46416   67758                                                 []
46417  227506                                                 []
46418  461257                                                 []

[46419 rows x 2 columns]

In [10]:
keywords['keylist'] = keywords['keywords'].apply( lambda x : StringToDict(x))
keywords

,id,keywords,keylist
0,862,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'id': ' 931', 'name': ' jealousy'}, {'id': '..."
1,8844,"[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'id': ' 10090', 'name': ' board game'}, {'id..."
2,15602,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[{'id': ' 1495', 'name': ' fishing'}, {'id': '..."
3,31357,"[{'id': 818, 'name': 'based on novel'}, {'id':...","[{'id': ' 818', 'name': ' based on novel'}, {'..."
4,11862,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[{'id': ' 1009', 'name': ' baby'}, {'id': ' 15..."
...,...,...,...
46414,439050,"[{'id': 10703, 'name': 'tragic love'}]","[{'id': ' 10703', 'name': ' tragic love'}]"
46415,111109,"[{'id': 2679, 'name': 'artist'}, {'id': 14531,...","[{'id': ' 2679', 'name': ' artist'}, {'id': ' ..."
46416,67758,[],[{}]
46417,227506,[],[{}]
46418,461257,[],[{}]

In [11]:
data = [keywords,credits,links,movies_metadata,ratings,ratings_small]
data

[           id                                           keywords  \
 0         862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
 1        8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
 2       15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
 3       31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
 4       11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
 ...       ...                                                ...
 46414  439050             [{'id': 10703, 'name': 'tragic love'}]
 46415  111109  [{'id': 2679, 'name': 'artist'}, {'id': 14531,...
 46416   67758                                                 []
 46417  227506                                                 []
 46418  461257                                                 []

                                                  keylist
 0      [{'id': ' 931', 'name': ' jealousy'}, {'id': '...
 1      [{'id': ' 10090', 'name': ' board game'}, {'id...
 2      [{'id': ' 1495', 'name': ' fishing'}, {'id': '...
 3      [{'id': ' 818', 'name': ' based on novel'}, {'...
 4      [{'id': ' 1009', 'name': ' baby'}, {'id': ' 15...
 ...                                                  ...
 46414         [{'id': ' 10703', 'name': ' tragic love'}]
 46415  [{'id': ' 2679', 'name': ' artist'}, {'id': ' ...
 46416                                               [{}]
 46417                                               [{}]
 46418                                               [{}]

 [46419 rows x 3 columns],
                                                     cast  \
 0      [{'cast_id': 14, 'character': 'Woody (voice)',...
 1      [{'cast_id': 1, 'character': 'Alan Parrish', '...
 2      [{'cast_id': 2, 'character': 'Max Goldman', 'c...
 3      [{'cast_id': 1, 'character': "Savannah 'Vannah...
 4      [{'cast_id': 1, 'character': 'George Banks', '...
 ...                                                  ...
 45471  [{'cast_id': 0, 'character': '', 'credit_id': ...
 45472  [{'cast_id': 1002, 'character': 'Sister Angela...
 45473  [{'cast_id': 6, 'character': 'Emily Shaw', 'cr...
 45474  [{'cast_id': 2, 'character': '', 'credit_id': ...
 45475                                                 []

                                                     crew      id  \
 0      [{'credit_id': '52fe4284c3a36847f8024f49', 'de...     862
 1      [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...    8844
 2      [{'credit_id': '52fe466a9251416c75077a89', 'de...   15602
 3      [{'credit_id': '52fe44779251416c91011acb', 'de...   31357
 4      [{'credit_id': '52fe44959251416c75039ed7', 'de...   11862
 ...                                                  ...     ...
 45471  [{'credit_id': '5894a97d925141426c00818c', 'de...  439050
 45472  [{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...  111109
 45473  [{'credit_id': '52fe4776c3a368484e0c8387', 'de...   67758
 45474  [{'credit_id': '533bccebc3a36844cf0011a7', 'de...  227506
 45475  [{'credit_id': '593e676c92514105b702e68e', 'de...  461257

                                                 castlist  \
 0      [{'cast_id': ' 14', 'character': ' Woody (voic...
 1      [{'cast_id': ' 1', 'character': ' Alan Parrish...
 2      [{'cast_id': ' 2', 'character': ' Max Goldman'...
 3      [{'cast_id': ' 1', 'character': ' "Savannah Va...
 4      [{'cast_id': ' 1', 'character': ' George Banks...
 ...                                                  ...
 45471  [{'cast_id': ' 0', 'character': ' ', 'credit_i...
 45472  [{'cast_id': ' 1002', 'character': ' Sister An...
 45473  [{'cast_id': ' 6', 'character': ' Emily Shaw',...
 45474  [{'cast_id': ' 2', 'character': ' ', 'credit_i...
 45475                                               [{}]

                                                 crewlist
 0      [{'credit_id': ' 52fe4284c3a36847f8024f49', 'd...
 1      [{'credit_id': ' 52fe44bfc3a36847f80a7cd1', 'd...
 2      [{'credit_id': ' 52fe466a9251416c75077a89', 'd...
 3      [{'credit_id': ' 52fe44779251416c91011acb', 'd...
 4      [{'credit_id': ' 52fe44959251416c75039ed7', 'd...
 ...                                                  ...
 45471  [{'credit_id': ' 5894a97d925141426c00818c', 'd...
 45472  [{'credit_id': ' 52fe4af1c3a36847f81e9b15', 'd...
 45473  [{'credit_id': ' 52fe4776c3a368484e0c8387', 'd...
 45474  [{'credit_id': ' 533bccebc3a36844cf0011a7', 'd...
 45475  [{'credit_id': ' 593e676c92514105b702e68e', 'd...

 [45476 rows x 5 columns],
        movieId   imdbId    tmdbId
 0            1   114709     862.0
 1            2   113497    8844.0
 2            3   113228   15602.0
 3            4   114885   31357.0
 4            5   113041   11862.0
 ...        ...      ...       ...
 45838   176269  6209470  439050.0
 45839   176271  2028550  111109.0
 45840   176273   303758   67758.0
 45841   176275     8536  227506.0
 45842   176279  6980792  461257.0

 [45843 rows x 3 columns],
        adult                              belongs_to_collection    budget  \
 0      False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
 1      False                                                NaN  65000000
 2      False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
 3      False                                                NaN  16000000
 4      False  {'id': 96871, 'name': 'Father of the Bride Col...         0
 ...      ...                                                ...       ...
 45461  False                                                NaN         0
 45462  False                                                NaN         0
 45463  False                                                NaN         0
 45464  False                                                NaN         0
 45465  False                                                NaN         0

                                                   genres  \
 0      [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
 1      [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
 2      [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
 3      [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
 4                         [{'id': 35, 'name': 'Comedy'}]
 ...                                                  ...
 45461  [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
 45462                      [{'id': 18, 'name': 'Drama'}]
 45463  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
 45464                                                 []
 45465                                                 []

                                    homepage      id    imdb_id  \
 0      http://toystory.disney.com/toy-story     862  tt0114709
 1                                       NaN    8844  tt0113497
 2                                       NaN   15602  tt0113228
 3                                       NaN   31357  tt0114885
 4                                       NaN   11862  tt0113041
 ...                                     ...     ...        ...
 45461  http://www.imdb.com/title/tt6209470/  439050  tt6209470
 45462                                   NaN  111109  tt2028550
 45463                                   NaN   67758  tt0303758
 45464                                   NaN  227506  tt0008536
 45465                                   NaN  461257  tt6980792

       original_language               original_title  \
 0                    en                    Toy Story
 1                    en                      Jumanji
 2                    en             Grumpier Old Men
 3                    en            Waiting to Exhale
 4                    en  Father of the Bride Part II
 ...                 ...                          ...
 45461                fa                      رگ خواب
 45462                tl          Siglo ng Pagluluwal
 45463                en                     Betrayal
 45464                en          Satana likuyushchiy
 45465                en                     Queerama

                                                 overview popularity  \
 0      Led by Woody, Andy's toys live happily in his ...  21.946943
 1      When siblings Judy and Peter discover an encha...  17.015539
 2      A family wedding reignites the ancient feud be...    11.7129
 3      Cheated on, mistreated and stepped on, the wom...   3.859495
 4      Just when George Banks has recovered from his ...   8.387519
 ...                                                  ...        ...
 45461        Rising and falling between a man and woman.   0.072051
 45462  An artist struggles to finish his work while a...   0.178241
 45463  When one of her hits goes wrong, a professiona...   0.903007
 45464  In a small town live two brothers, one a minis...   0.003503
 45465  50 years after decriminalisation of homosexual...   0.163015

                             poster_path  \
 0      /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
 1      /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg
 2      /6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
 3      /16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg
 4      /e64sOI48hQXyru7naBFyssKFxVd.jpg
 ...                                 ...
 45461  /jldsYflnId4tTWPx8es3uzsB1I8.jpg
 45462  /xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg
 45463  /d5bX92nDsISNhu3ZT69uHwmfCGw.jpg
 45464  /aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg
 45465  /s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg

                                     production_companies  \
 0         [{'name': 'Pixar Animation Studios', 'id': 3}]
 1      [{'name': 'TriStar Pictures', 'id': 559}, {'na...
 2      [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
 3      [{'name': 'Twentieth Century Fox Film Corporat...
 4      [{'name': 'Sandollar Productions', 'id': 5842}...
 ...                                                  ...
 45461                                                 []
 45462             [{'name': 'Sine Olivia', 'id': 19653}]
 45463  [{'name': 'American World Pictures', 'id': 6165}]
 45464               [{'name': 'Yermoliev', 'id': 88753}]
 45465                                                 []

                                     production_countries release_date  \
 0      [{'iso_3166_1': 'US', 'name': 'United States o...   1995-10-30
 1      [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-15
 2      [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-22
 3      [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-22
 4      [{'iso_3166_1': 'US', 'name': 'United States o...   1995-02-10
 ...                                                  ...          ...
 45461             [{'iso_3166_1': 'IR', 'name': 'Iran'}]          NaN
 45462      [{'iso_3166_1': 'PH', 'name': 'Philippines'}]   2011-11-17
 45463  [{'iso_3166_1': 'US', 'name': 'United States o...   2003-08-01
 45464           [{'iso_3166_1': 'RU', 'name': 'Russia'}]   1917-10-21
 45465   [{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]   2017-06-09

            revenue  runtime  \
 0      373554033.0     81.0
 1      262797249.0    104.0
 2              0.0    101.0
 3       81452156.0    127.0
 4       76578911.0    106.0
 ...            ...      ...
 45461          0.0     90.0
 45462          0.0    360.0
 45463          0.0     90.0
 45464          0.0     87.0
 45465          0.0     75.0

                                         spoken_languages    status  \
 0               [{'iso_639_1': 'en', 'name': 'English'}]  Released
 1      [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
 2               [{'iso_639_1': 'en', 'name': 'English'}]  Released
 3               [{'iso_639_1': 'en', 'name': 'English'}]  Released
 4               [{'iso_639_1': 'en', 'name': 'English'}]  Released
 ...                                                  ...       ...
 45461             [{'iso_639_1': 'fa', 'name': 'فارسی'}]  Released
 45462                  [{'iso_639_1': 'tl', 'name': ''}]  Released
 45463           [{'iso_639_1': 'en', 'name': 'English'}]  Released
 45464                                                 []  Released
 45465           [{'iso_639_1': 'en', 'name': 'English'}]  Released

                                                  tagline  \
 0                                                    NaN
 1              Roll the dice and unleash the excitement!
 2      Still Yelling. Still Fighting. Still Ready for...
 3      Friends are the people who let you be yourself...
 4      Just When His World Is Back To Normal... He's ...
 ...                                                  ...
 45461         Rising and falling between a man and woman
 45462                                                NaN
 45463                             A deadly game of wits.
 45464                                                NaN
 45465                                                NaN

                              title  video  vote_average  vote_count
 0                        Toy Story  False           7.7      5415.0
 1                          Jumanji  False           6.9      2413.0
 2                 Grumpier Old Men  False           6.5        92.0
 3                Waiting to Exhale  False           6.1        34.0
 4      Father of the Bride Part II  False           5.7       173.0
 ...                            ...    ...           ...         ...
 45461                       Subdue  False           4.0         1.0
 45462          Century of Birthing  False           9.0         3.0
 45463                     Betrayal  False           3.8         6.0
 45464             Satan Triumphant  False           0.0         0.0
 45465                     Queerama  False           0.0         0.0

 [45466 rows x 24 columns],
           userId  movieId  rating   timestamp
 0              1      110     1.0  1425941529
 1              1      147     4.5  1425942435
 2              1      858     5.0  1425941523
 3              1     1221     5.0  1425941546
 4              1     1246     5.0  1425941556
 ...          ...      ...     ...         ...
 26024284  270896    58559     5.0  1257031564
 26024285  270896    60069     5.0  1257032032
 26024286  270896    63082     4.5  1257031764
 26024287  270896    64957     4.5  1257033990
 26024288  270896    71878     2.0  1257031858

 [26024289 rows x 4 columns],
         userId  movieId  rating   timestamp
 0            1       31     2.5  1260759144
 1            1     1029     3.0  1260759179
 2            1     1061     3.0  1260759182
 3            1     1129     2.0  1260759185
 4            1     1172     4.0  1260759205
 ...        ...      ...     ...         ...
 99999      671     6268     2.5  1065579370
 100000     671     6269     4.0  1065149201
 100001     671     6365     4.0  1070940363
 100002     671     6385     2.5  1070979663
 100003     671     6565     3.5  1074784724

 [100004 rows x 4 columns]]

In [12]:
credits

,cast,crew,id,castlist,crewlist
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,"[{'cast_id': ' 14', 'character': ' Woody (voic...","[{'credit_id': ' 52fe4284c3a36847f8024f49', 'd..."
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,"[{'cast_id': ' 1', 'character': ' Alan Parrish...","[{'credit_id': ' 52fe44bfc3a36847f80a7cd1', 'd..."
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,"[{'cast_id': ' 2', 'character': ' Max Goldman'...","[{'credit_id': ' 52fe466a9251416c75077a89', 'd..."
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,"[{'cast_id': ' 1', 'character': ' ""Savannah Va...","[{'credit_id': ' 52fe44779251416c91011acb', 'd..."
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,"[{'cast_id': ' 1', 'character': ' George Banks...","[{'credit_id': ' 52fe44959251416c75039ed7', 'd..."
...,...,...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050,"[{'cast_id': ' 0', 'character': ' ', 'credit_i...","[{'credit_id': ' 5894a97d925141426c00818c', 'd..."
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109,"[{'cast_id': ' 1002', 'character': ' Sister An...","[{'credit_id': ' 52fe4af1c3a36847f81e9b15', 'd..."
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758,"[{'cast_id': ' 6', 'character': ' Emily Shaw',...","[{'credit_id': ' 52fe4776c3a368484e0c8387', 'd..."
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506,"[{'cast_id': ' 2', 'character': ' ', 'credit_i...","[{'credit_id': ' 533bccebc3a36844cf0011a7', 'd..."
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257,[{}],"[{'credit_id': ' 593e676c92514105b702e68e', 'd..."

In [13]:
keywords

,id,keywords,keylist
0,862,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'id': ' 931', 'name': ' jealousy'}, {'id': '..."
1,8844,"[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'id': ' 10090', 'name': ' board game'}, {'id..."
2,15602,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[{'id': ' 1495', 'name': ' fishing'}, {'id': '..."
3,31357,"[{'id': 818, 'name': 'based on novel'}, {'id':...","[{'id': ' 818', 'name': ' based on novel'}, {'..."
4,11862,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[{'id': ' 1009', 'name': ' baby'}, {'id': ' 15..."
...,...,...,...
46414,439050,"[{'id': 10703, 'name': 'tragic love'}]","[{'id': ' 10703', 'name': ' tragic love'}]"
46415,111109,"[{'id': 2679, 'name': 'artist'}, {'id': 14531,...","[{'id': ' 2679', 'name': ' artist'}, {'id': ' ..."
46416,67758,[],[{}]
46417,227506,[],[{}]
46418,461257,[],[{}]

In [14]:
links = links.rename(columns={'tmdbId':'id'})
links

       movieId   imdbId        id
0            1   114709     862.0
1            2   113497    8844.0
2            3   113228   15602.0
3            4   114885   31357.0
4            5   113041   11862.0
...        ...      ...       ...
45838   176269  6209470  439050.0
45839   176271  2028550  111109.0
45840   176273   303758   67758.0
45841   176275     8536  227506.0
45842   176279  6980792  461257.0

[45843 rows x 3 columns]

In [15]:
movies_metadata

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,0.072051,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [16]:
ratings = ratings.rename(columns={'movieId':'id'})

ratings

          userId     id  rating   timestamp
0              1    110     1.0  1425941529
1              1    147     4.5  1425942435
2              1    858     5.0  1425941523
3              1   1221     5.0  1425941546
4              1   1246     5.0  1425941556
...          ...    ...     ...         ...
26024284  270896  58559     5.0  1257031564
26024285  270896  60069     5.0  1257032032
26024286  270896  63082     4.5  1257031764
26024287  270896  64957     4.5  1257033990
26024288  270896  71878     2.0  1257031858

[26024289 rows x 4 columns]

In [17]:
ratings_small = ratings_small.rename(columns={'movieId':'id'})

ratings_small

        userId    id  rating   timestamp
0            1    31     2.5  1260759144
1            1  1029     3.0  1260759179
2            1  1061     3.0  1260759182
3            1  1129     2.0  1260759185
4            1  1172     4.0  1260759205
...        ...   ...     ...         ...
99999      671  6268     2.5  1065579370
100000     671  6269     4.0  1065149201
100001     671  6365     4.0  1070940363
100002     671  6385     2.5  1070979663
100003     671  6565     3.5  1074784724

[100004 rows x 4 columns]

In [18]:
ratings['id'].nunique()

45115

In [19]:
ratings_small['id'].nunique()

9066

In [20]:
data = [credits,keywords,links,movies_metadata,ratings]
data

[                                                    cast  \
 0      [{'cast_id': 14, 'character': 'Woody (voice)',...
 1      [{'cast_id': 1, 'character': 'Alan Parrish', '...
 2      [{'cast_id': 2, 'character': 'Max Goldman', 'c...
 3      [{'cast_id': 1, 'character': "Savannah 'Vannah...
 4      [{'cast_id': 1, 'character': 'George Banks', '...
 ...                                                  ...
 45471  [{'cast_id': 0, 'character': '', 'credit_id': ...
 45472  [{'cast_id': 1002, 'character': 'Sister Angela...
 45473  [{'cast_id': 6, 'character': 'Emily Shaw', 'cr...
 45474  [{'cast_id': 2, 'character': '', 'credit_id': ...
 45475                                                 []

                                                     crew      id  \
 0      [{'credit_id': '52fe4284c3a36847f8024f49', 'de...     862
 1      [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...    8844
 2      [{'credit_id': '52fe466a9251416c75077a89', 'de...   15602
 3      [{'credit_id': '52fe44779251416c91011acb', 'de...   31357
 4      [{'credit_id': '52fe44959251416c75039ed7', 'de...   11862
 ...                                                  ...     ...
 45471  [{'credit_id': '5894a97d925141426c00818c', 'de...  439050
 45472  [{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...  111109
 45473  [{'credit_id': '52fe4776c3a368484e0c8387', 'de...   67758
 45474  [{'credit_id': '533bccebc3a36844cf0011a7', 'de...  227506
 45475  [{'credit_id': '593e676c92514105b702e68e', 'de...  461257

                                                 castlist  \
 0      [{'cast_id': ' 14', 'character': ' Woody (voic...
 1      [{'cast_id': ' 1', 'character': ' Alan Parrish...
 2      [{'cast_id': ' 2', 'character': ' Max Goldman'...
 3      [{'cast_id': ' 1', 'character': ' "Savannah Va...
 4      [{'cast_id': ' 1', 'character': ' George Banks...
 ...                                                  ...
 45471  [{'cast_id': ' 0', 'character': ' ', 'credit_i...
 45472  [{'cast_id': ' 1002', 'character': ' Sister An...
 45473  [{'cast_id': ' 6', 'character': ' Emily Shaw',...
 45474  [{'cast_id': ' 2', 'character': ' ', 'credit_i...
 45475                                               [{}]

                                                 crewlist
 0      [{'credit_id': ' 52fe4284c3a36847f8024f49', 'd...
 1      [{'credit_id': ' 52fe44bfc3a36847f80a7cd1', 'd...
 2      [{'credit_id': ' 52fe466a9251416c75077a89', 'd...
 3      [{'credit_id': ' 52fe44779251416c91011acb', 'd...
 4      [{'credit_id': ' 52fe44959251416c75039ed7', 'd...
 ...                                                  ...
 45471  [{'credit_id': ' 5894a97d925141426c00818c', 'd...
 45472  [{'credit_id': ' 52fe4af1c3a36847f81e9b15', 'd...
 45473  [{'credit_id': ' 52fe4776c3a368484e0c8387', 'd...
 45474  [{'credit_id': ' 533bccebc3a36844cf0011a7', 'd...
 45475  [{'credit_id': ' 593e676c92514105b702e68e', 'd...

 [45476 rows x 5 columns],
            id                                           keywords  \
 0         862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
 1        8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
 2       15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
 3       31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
 4       11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
 ...       ...                                                ...
 46414  439050             [{'id': 10703, 'name': 'tragic love'}]
 46415  111109  [{'id': 2679, 'name': 'artist'}, {'id': 14531,...
 46416   67758                                                 []
 46417  227506                                                 []
 46418  461257                                                 []

                                                  keylist
 0      [{'id': ' 931', 'name': ' jealousy'}, {'id': '...
 1      [{'id': ' 10090', 'name': ' board game'}, {'id...
 2      [{'id': ' 1495', 'name': ' fishing'}, {'id': '...
 3      [{'id': ' 818', 'name': ' based on novel'}, {'...
 4      [{'id': ' 1009', 'name': ' baby'}, {'id': ' 15...
 ...                                                  ...
 46414         [{'id': ' 10703', 'name': ' tragic love'}]
 46415  [{'id': ' 2679', 'name': ' artist'}, {'id': ' ...
 46416                                               [{}]
 46417                                               [{}]
 46418                                               [{}]

 [46419 rows x 3 columns],
        movieId   imdbId        id
 0            1   114709     862.0
 1            2   113497    8844.0
 2            3   113228   15602.0
 3            4   114885   31357.0
 4            5   113041   11862.0
 ...        ...      ...       ...
 45838   176269  6209470  439050.0
 45839   176271  2028550  111109.0
 45840   176273   303758   67758.0
 45841   176275     8536  227506.0
 45842   176279  6980792  461257.0

 [45843 rows x 3 columns],
        adult                              belongs_to_collection    budget  \
 0      False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
 1      False                                                NaN  65000000
 2      False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
 3      False                                                NaN  16000000
 4      False  {'id': 96871, 'name': 'Father of the Bride Col...         0
 ...      ...                                                ...       ...
 45461  False                                                NaN         0
 45462  False                                                NaN         0
 45463  False                                                NaN         0
 45464  False                                                NaN         0
 45465  False                                                NaN         0

                                                   genres  \
 0      [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
 1      [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
 2      [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
 3      [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
 4                         [{'id': 35, 'name': 'Comedy'}]
 ...                                                  ...
 45461  [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
 45462                      [{'id': 18, 'name': 'Drama'}]
 45463  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
 45464                                                 []
 45465                                                 []

                                    homepage      id    imdb_id  \
 0      http://toystory.disney.com/toy-story     862  tt0114709
 1                                       NaN    8844  tt0113497
 2                                       NaN   15602  tt0113228
 3                                       NaN   31357  tt0114885
 4                                       NaN   11862  tt0113041
 ...                                     ...     ...        ...
 45461  http://www.imdb.com/title/tt6209470/  439050  tt6209470
 45462                                   NaN  111109  tt2028550
 45463                                   NaN   67758  tt0303758
 45464                                   NaN  227506  tt0008536
 45465                                   NaN  461257  tt6980792

       original_language               original_title  \
 0                    en                    Toy Story
 1                    en                      Jumanji
 2                    en             Grumpier Old Men
 3                    en            Waiting to Exhale
 4                    en  Father of the Bride Part II
 ...                 ...                          ...
 45461                fa                      رگ خواب
 45462                tl          Siglo ng Pagluluwal
 45463                en                     Betrayal
 45464                en          Satana likuyushchiy
 45465                en                     Queerama

                                                 overview popularity  \
 0      Led by Woody, Andy's toys live happily in his ...  21.946943
 1      When siblings Judy and Peter discover an encha...  17.015539
 2      A family wedding reignites the ancient feud be...    11.7129
 3      Cheated on, mistreated and stepped on, the wom...   3.859495
 4      Just when George Banks has recovered from his ...   8.387519
 ...                                                  ...        ...
 45461        Rising and falling between a man and woman.   0.072051
 45462  An artist struggles to finish his work while a...   0.178241
 45463  When one of her hits goes wrong, a professiona...   0.903007
 45464  In a small town live two brothers, one a minis...   0.003503
 45465  50 years after decriminalisation of homosexual...   0.163015

                             poster_path  \
 0      /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
 1      /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg
 2      /6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
 3      /16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg
 4      /e64sOI48hQXyru7naBFyssKFxVd.jpg
 ...                                 ...
 45461  /jldsYflnId4tTWPx8es3uzsB1I8.jpg
 45462  /xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg
 45463  /d5bX92nDsISNhu3ZT69uHwmfCGw.jpg
 45464  /aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg
 45465  /s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg

                                     production_companies  \
 0         [{'name': 'Pixar Animation Studios', 'id': 3}]
 1      [{'name': 'TriStar Pictures', 'id': 559}, {'na...
 2      [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
 3      [{'name': 'Twentieth Century Fox Film Corporat...
 4      [{'name': 'Sandollar Productions', 'id': 5842}...
 ...                                                  ...
 45461                                                 []
 45462             [{'name': 'Sine Olivia', 'id': 19653}]
 45463  [{'name': 'American World Pictures', 'id': 6165}]
 45464               [{'name': 'Yermoliev', 'id': 88753}]
 45465                                                 []

                                     production_countries release_date  \
 0      [{'iso_3166_1': 'US', 'name': 'United States o...   1995-10-30
 1      [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-15
 2      [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-22
 3      [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-22
 4      [{'iso_3166_1': 'US', 'name': 'United States o...   1995-02-10
 ...                                                  ...          ...
 45461             [{'iso_3166_1': 'IR', 'name': 'Iran'}]          NaN
 45462      [{'iso_3166_1': 'PH', 'name': 'Philippines'}]   2011-11-17
 45463  [{'iso_3166_1': 'US', 'name': 'United States o...   2003-08-01
 45464           [{'iso_3166_1': 'RU', 'name': 'Russia'}]   1917-10-21
 45465   [{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]   2017-06-09

            revenue  runtime  \
 0      373554033.0     81.0
 1      262797249.0    104.0
 2              0.0    101.0
 3       81452156.0    127.0
 4       76578911.0    106.0
 ...            ...      ...
 45461          0.0     90.0
 45462          0.0    360.0
 45463          0.0     90.0
 45464          0.0     87.0
 45465          0.0     75.0

                                         spoken_languages    status  \
 0               [{'iso_639_1': 'en', 'name': 'English'}]  Released
 1      [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
 2               [{'iso_639_1': 'en', 'name': 'English'}]  Released
 3               [{'iso_639_1': 'en', 'name': 'English'}]  Released
 4               [{'iso_639_1': 'en', 'name': 'English'}]  Released
 ...                                                  ...       ...
 45461             [{'iso_639_1': 'fa', 'name': 'فارسی'}]  Released
 45462                  [{'iso_639_1': 'tl', 'name': ''}]  Released
 45463           [{'iso_639_1': 'en', 'name': 'English'}]  Released
 45464                                                 []  Released
 45465           [{'iso_639_1': 'en', 'name': 'English'}]  Released

                                                  tagline  \
 0                                                    NaN
 1              Roll the dice and unleash the excitement!
 2      Still Yelling. Still Fighting. Still Ready for...
 3      Friends are the people who let you be yourself...
 4      Just When His World Is Back To Normal... He's ...
 ...                                                  ...
 45461         Rising and falling between a man and woman
 45462                                                NaN
 45463                             A deadly game of wits.
 45464                                                NaN
 45465                                                NaN

                              title  video  vote_average  vote_count
 0                        Toy Story  False           7.7      5415.0
 1                          Jumanji  False           6.9      2413.0
 2                 Grumpier Old Men  False           6.5        92.0
 3                Waiting to Exhale  False           6.1        34.0
 4      Father of the Bride Part II  False           5.7       173.0
 ...                            ...    ...           ...         ...
 45461                       Subdue  False           4.0         1.0
 45462          Century of Birthing  False           9.0         3.0
 45463                     Betrayal  False           3.8         6.0
 45464             Satan Triumphant  False           0.0         0.0
 45465                     Queerama  False           0.0         0.0

 [45466 rows x 24 columns],
           userId     id  rating   timestamp
 0              1    110     1.0  1425941529
 1              1    147     4.5  1425942435
 2              1    858     5.0  1425941523
 3              1   1221     5.0  1425941546
 4              1   1246     5.0  1425941556
 ...          ...    ...     ...         ...
 26024284  270896  58559     5.0  1257031564
 26024285  270896  60069     5.0  1257032032
 26024286  270896  63082     4.5  1257031764
 26024287  270896  64957     4.5  1257033990
 26024288  270896  71878     2.0  1257031858

 [26024289 rows x 4 columns]]

In [21]:
ratings

          userId     id  rating   timestamp
0              1    110     1.0  1425941529
1              1    147     4.5  1425942435
2              1    858     5.0  1425941523
3              1   1221     5.0  1425941546
4              1   1246     5.0  1425941556
...          ...    ...     ...         ...
26024284  270896  58559     5.0  1257031564
26024285  270896  60069     5.0  1257032032
26024286  270896  63082     4.5  1257031764
26024287  270896  64957     4.5  1257033990
26024288  270896  71878     2.0  1257031858

[26024289 rows x 4 columns]

### 4. data analysis
___

In [22]:
ratings[ratings['id'] == 110]['rating'].mean()

4.016057252826558

In [23]:
RatingMeansWithID = ratings.groupby(['id']).mean()

### 5. data cleaning
___

In [24]:
RatingMeansWithID['id'] = RatingMeansWithID.index

In [25]:
RatingMeansWithID.drop(['timestamp','userId'], axis=1, inplace=True)
RatingMeansWithID

          rating      id
id
1       3.888157       1
2       3.236953       2
3       3.175550       3
4       2.875713       4
5       3.079565       5
...          ...     ...
176267  4.000000  176267
176269  3.500000  176269
176271  5.000000  176271
176273  1.000000  176273
176275  3.000000  176275

[45115 rows x 2 columns]

In [26]:
data = [credits,keywords,links,movies_metadata,RatingMeansWithID]
[i.shape for i in data]

[(45476, 5), (46419, 3), (45843, 3), (45466, 24), (45115, 2)]

In [27]:
CList= set(credits              ['id'].tolist()    )                        
KList= set(keywords             ['id'].tolist()    )         
LList= set(links                ['id'].tolist())
MList= set(movies_metadata      ['id'].tolist())
RList= set(RatingMeansWithID    ['id'].tolist())

len(CList),len(KList),len(LList),len(MList),len(RList)

(45432, 45432, 45813, 45436, 45115)

In [28]:
CommonIDList= list(set(CList).intersection(KList).intersection(LList).intersection(MList).intersection(RList))
len(CommonIDList)

0

In [29]:
CList= set(credits['id'].tolist()    )                        
KList= set(keywords['id'].tolist()    )         
LList= set(links['id'].tolist())
MList= set(movies_metadata['id'].tolist())
RList= set(RatingMeansWithID['id'].tolist())


CList= [float(i) for i in CList]                   
KList= [float(i) for i in KList]    
LList= [float(i) for i in LList]
MList= [float(i) for i in MList if not '-' in i]
RList= [float(i) for i in RList]

len(CList),len(KList),len(LList),len(MList),len(RList)

(45432, 45432, 45813, 45433, 45115)

In [30]:
CommonIDList= list(set(CList).intersection(KList).intersection(LList).intersection(MList).intersection(RList))
len(CommonIDList)

7565

In [31]:
CommonIDList

[2.0,
 3.0,
 131074.0,
 5.0,
 6.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 131098.0,
 30.0,
 98328.0,
 33.0,
 35.0,
 98339.0,
 38.0,
 98344.0,
 131116.0,
 55.0,
 32825.0,
 58.0,
 59.0,
 65596.0,
 62.0,
 63.0,
 64.0,
 65.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 32834.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 65612.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 92.0,
 93.0,
 32862.0,
 95.0,
 96.0,
 97.0,
 98.0,
 99.0,
 100.0,
 101.0,
 102.0,
 103.0,
 104.0,
 105.0,
 106.0,
 107.0,
 108.0,
 109.0,
 110.0,
 111.0,
 112.0,
 113.0,
 114.0,
 115.0,
 116.0,
 117.0,
 118.0,
 65651.0,
 120.0,
 121.0,
 122.0,
 123.0,
 124.0,
 127.0,
 128.0,
 129.0,
 132.0,
 133.0,
 134.0,
 135.0,
 136.0,
 137.0,
 138.0,
 139.0,
 140.0,
 141.0,
 142.0,
 143.0,
 144.0,
 145.0,
 146.0,
 147.0,
 148.0,
 149.0,
 150.0,
 152.0,
 153.0,
 154.0,
 155.0,
 156.0,
 157.0,
 158.0,
 159.0,
 160.0,
 161.0,
 162.0,
 163.0,
 164.0,
 165.0,
 166.0,
 167.0,
 168.0,
 169.0,
 170.0,
 171.0,
 172.0,
 173.0,
 174.0,
 175.0,
 176.0,
 177.0,
 178.0,
 179.0,
 180.0,
 32941.0,
 182.0,
 183.0,
 184.0,
 185.0,
 186.0,
 187.0,
 98491.0,
 189.0,
 192.0,
 193.0,
 194.0,
 195.0,
 196.0,
 197.0,
 198.0,
 199.0,
 200.0,
 201.0,
 164041.0,
 203.0,
 204.0,
 205.0,
 206.0,
 207.0,
 164045.0,
 98507.0,
 211.0,
 212.0,
 213.0,
 214.0,
 215.0,
 216.0,
 217.0,
 218.0,
 219.0,
 220.0,
 222.0,
 223.0,
 224.0,
 225.0,
 226.0,
 227.0,
 228.0,
 229.0,
 65762.0,
 231.0,
 232.0,
 233.0,
 234.0,
 235.0,
 236.0,
 237.0,
 238.0,
 239.0,
 240.0,
 241.0,
 242.0,
 243.0,
 244.0,
 245.0,
 246.0,
 247.0,
 248.0,
 249.0,
 250.0,
 251.0,
 252.0,
 253.0,
 254.0,
 255.0,
 256.0,
 257.0,
 258.0,
 259.0,
 260.0,
 261.0,
 262.0,
 65796.0,
 98560.0,
 265.0,
 266.0,
 267.0,
 268.0,
 269.0,
 98566.0,
 271.0,
 272.0,
 273.0,
 274.0,
 275.0,
 276.0,
 277.0,
 278.0,
 279.0,
 280.0,
 281.0,
 33049.0,
 164123.0,
 284.0,
 285.0,
 286.0,
 287.0,
 288.0,
 289.0,
 290.0,
 291.0,
 292.0,
 293.0,
 294.0,
 296.0,
 297.0,
 298.0,
 299.0,
 300.0,
 301.0,
 302.0,
 303.0,
 98604.0,
 306.0,
 307.0,
 308.0,
 309.0,
 310.0,
 311.0,
 312.0,
 313.0,
 314.0,
 315.0,
 316.0,
 317.0,
 318.0,
 319.0,
 320.0,
 321.0,
 322.0,
 326.0,
 327.0,
 98631.0,
 329.0,
 330.0,
 331.0,
 332.0,
 333.0,
 334.0,
 335.0,
 336.0,
 337.0,
 338.0,
 339.0,
 340.0,
 33102.0,
 342.0,
 343.0,
 344.0,
 345.0,
 346.0,
 347.0,
 348.0,
 349.0,
 350.0,
 33117.0,
 33124.0,
 33126.0,
 131433.0,
 363.0,
 364.0,
 33134.0,
 33138.0,
 377.0,
 378.0,
 379.0,
 380.0,
 381.0,
 33150.0,
 383.0,
 33152.0,
 131457.0,
 387.0,
 388.0,
 389.0,
 390.0,
 391.0,
 392.0,
 393.0,
 395.0,
 396.0,
 397.0,
 398.0,
 33166.0,
 400.0,
 401.0,
 402.0,
 403.0,
 404.0,
 405.0,
 406.0,
 407.0,
 408.0,
 409.0,
 410.0,
 411.0,
 131476.0,
 131478.0,
 414.0,
 415.0,
 421.0,
 422.0,
 423.0,
 424.0,
 425.0,
 426.0,
 427.0,
 428.0,
 429.0,
 430.0,
 431.0,
 131504.0,
 433.0,
 434.0,
 435.0,
 436.0,
 437.0,
 438.0,
 439.0,
 440.0,
 441.0,
 442.0,
 164278.0,
 445.0,
 164286.0,
 164288.0,
 451.0,
 452.0,
 453.0,
 454.0,
 455.0,
 457.0,
 458.0,
 459.0,
 460.0,
 33226.0,
 462.0,
 33229.0,
 464.0,
 465.0,
 466.0,
 467.0,
 468.0,
 469.0,
 470.0,
 471.0,
 473.0,
 475.0,
 476.0,
 33245.0,
 479.0,
 480.0,
 481.0,
 482.0,
 483.0,
 33251.0,
 33253.0,
 33255.0,
 488.0,
 489.0,
 490.0,
 66025.0,
 492.0,
 493.0,
 494.0,
 496.0,
 497.0,
 499.0,
 500.0,
 501.0,
 502.0,
 503.0,
 504.0,
 505.0,
 506.0,
 507.0,
 508.0,
 509.0,
 510.0,
 511.0,
 512.0,
 513.0,
 521.0,
 522.0,
 523.0,
 524.0,
 525.0,
 526.0,
 527.0,
 33294.0,
 530.0,
 531.0,
 532.0,
 533.0,
 534.0,
 535.0,
 66066.0,
 537.0,
 66068.0,
 539.0,
 540.0,
 541.0,
 542.0,
 543.0,
 544.0,
 33310.0,
 546.0,
 547.0,
 548.0,
 549.0,
 550.0,
 551.0,
 552.0,
 553.0,
 554.0,
 33316.0,
 33318.0,
 33321.0,
 558.0,
 559.0,
 560.0,
 561.0,
 562.0,
 563.0,
 564.0,
 565.0,
 131634.0,
 567.0,
 568.0,
 66105.0,
 570.0,
 571.0,
 572.0,
 573.0,
 574.0,
 575.0,
 576.0,
 577.0,
 33340.0,
 579.0,
 580.0,
 581.0,
 582.0,
 583.0,
 584.0,
 585.0,
 586.0,
 587.0,
 588.0,
 164421.0,
 590.0,
 591.0,
 592.0,
 593.0,
 594.0,
 595.0,
 596.0,
 597.0,
 598.0,
 599.0,
 600.0,
 601.0,
 602.0,
 603.0,
 604.0,
 605.0,
 606.0,
 607.0,
 608.0,
 609.0,
 164443.0,
 612.0,
 613.0,
 614.0,
 615.0,
 616.0,
 617.0,
 618.0,
 619.0,
 620.0,
 621.0,
 33389.0,
 623.0,
 624.0,
 625.0,
 626.0,
 627.0,
 628.0,
 629.0,
 630.0,
 631.0,
 632.0,
 633.0,
 634.0,
 635.0,
 636.0,
 637.0,
 638.0,
 639.0,
 640.0,
 641.0,
 642.0,
 643.0,
 644.0,
 647.0,
 648.0,
 649.0,
 650.0,
 651.0,
 652.0,
 653.0,
 654.0,
 655.0,
 33421.0,
 657.0,
 658.0,
 659.0,
 660.0,
 661.0,
 662.0,
 663.0,
 664.0,
 665.0,
 666.0,
 667.0,
 668.0,
 131739.0,
 670.0,
 671.0,
 672.0,
 673.0,
 674.0,
 675.0,
 676.0,
 678.0,
 679.0,
 680.0,
 681.0,
 682.0,
 685.0,
 33454.0,
 687.0,
 688.0,
 690.0,
 691.0,
 692.0,
 693.0,
 694.0,
 695.0,
 696.0,
 697.0,
 698.0,
 699.0,
 700.0,
 701.0,
 702.0,
 703.0,
 704.0,
 705.0,
 706.0,
 707.0,
 708.0,
 709.0,
 710.0,
 711.0,
 712.0,
 713.0,
 714.0,
 164558.0,
 131792.0,
 33495.0,
 164580.0,
 742.0,
 744.0,
 745.0,
 746.0,
 747.0,
 750.0,
 751.0,
 752.0,
 753.0,
 754.0,
 755.0,
 756.0,
 757.0,
 758.0,
 759.0,
 760.0,
 761.0,
 762.0,
 763.0,
 764.0,
 765.0,
 766.0,
 767.0,
 768.0,
 769.0,
 770.0,
 771.0,
 772.0,
 773.0,
 774.0,
 775.0,
 776.0,
 777.0,
 778.0,
 779.0,
 780.0,
 781.0,
 782.0,
 783.0,
 784.0,
 786.0,
 787.0,
 788.0,
 789.0,
 790.0,
 791.0,
 792.0,
 793.0,
 794.0,
 795.0,
 796.0,
 797.0,
 798.0,
 799.0,
 800.0,
 801.0,
 802.0,
 803.0,
 804.0,
 805.0,
 806.0,
 807.0,
 808.0,
 809.0,
 810.0,
 131880.0,
 812.0,
 813.0,
 814.0,
 815.0,
 816.0,
 66344.0,
 818.0,
 819.0,
 820.0,
 821.0,
 822.0,
 823.0,
 824.0,
 825.0,
 826.0,
 827.0,
 828.0,
 829.0,
 830.0,
 831.0,
 832.0,
 833.0,
 834.0,
 836.0,
 837.0,
 838.0,
 839.0,
 840.0,
 841.0,
 131914.0,
 842.0,
 843.0,
 844.0,
 845.0,
 846.0,
 847.0,
 848.0,
 849.0,
 850.0,
 851.0,
 131916.0,
 853.0,
 854.0,
 855.0,
 856.0,
 857.0,
 858.0,
 859.0,
 860.0,
 861.0,
 862.0,
 131932.0,
 864.0,
 865.0,
 866.0,
 867.0,
 868.0,
 869.0,
 870.0,
 871.0,
 872.0,
 873.0,
 874.0,
 875.0,
 876.0,
 877.0,
 878.0,
 879.0,
 880.0,
 881.0,
 33644.0,
 884.0,
 885.0,
 886.0,
 887.0,
 888.0,
 889.0,
 890.0,
 891.0,
 892.0,
 33660.0,
 131966.0,
 895.0,
 896.0,
 897.0,
 898.0,
 899.0,
 900.0,
 901.0,
 902.0,
 903.0,
 164741.0,
 905.0,
 907.0,
 909.0,
 910.0,
 911.0,
 912.0,
 913.0,
 914.0,
 164753.0,
 916.0,
 917.0,
 918.0,
 919.0,
 920.0,
 921.0,
 922.0,
 923.0,
 924.0,
 925.0,
 926.0,
 927.0,
 928.0,
 929.0,
 931.0,
 932.0,
 934.0,
 935.0,
 936.0,
 164777.0,
 938.0,
 939.0,
 940.0,
 941.0,
 942.0,
 943.0,
 944.0,
 33709.0,
 946.0,
 947.0,
 948.0,
 949.0,
 950.0,
 951.0,
 99251.0,
 953.0,
 954.0,
 955.0,
 956.0,
 957.0,
 33725.0,
 132030.0,
 99258.0,
 961.0,
 962.0,
 963.0,
 964.0,
 965.0,
 966.0,
 967.0,
 968.0,
 975.0,
 976.0,
 977.0,
 33743.0,
 979.0,
 980.0,
 981.0,
 982.0,
 983.0,
 984.0,
 985.0,
 986.0,
 987.0,
 988.0,
 989.0,
 990.0,
 991.0,
 992.0,
 993.0,
 994.0,
 132064.0,
 996.0,
 33762.0,
 66537.0,
 1018.0,
 1023.0,
 1024.0,
 99329.0,
 33799.0,
 33801.0,
 1039.0,
 1040.0,
 99343.0,
 99345.0,
 99351.0,
 66584.0,
 1049.0,
 1050.0,
 1051.0,
 1052.0,
 132122.0,
 33817.0,
 33823.0,
 132128.0,
 66590.0,
 1058.0,
 1059.0,
 66592.0,
 99367.0,
 33838.0,
 132144.0,
 1073.0,
 1075.0,
 132148.0,
 132150.0,
 1088.0,
 1089.0,
 1090.0,
 1091.0,
 1092.0,
 1093.0,
 1103.0,
 1114.0,
 1115.0,
 1116.0,
 1123.0,
 1124.0,
 1125.0,
 1126.0,
 1127.0,
 66659.0,
 33914.0,
 132232.0,
 1162.0,
 1163.0,
 1164.0,
 1165.0,
 132236.0,
 66701.0,
 165023.0,
 66720.0,
 165027.0,
 99495.0,
 33974.0,
 99513.0,
 1213.0,
 33988.0,
 132298.0,
 33994.0,
 66762.0,
 33998.0,
 34004.0,
 1244.0,
 1245.0,
 1246.0,
 1247.0,
 1248.0,
 1249.0,
 1250.0,
 1251.0,
 1252.0,
 1253.0,
 1254.0,
 1255.0,
 34016.0,
 1257.0,
 1259.0,
 1260.0,
 1262.0,
 1265.0,
 1266.0,
 1267.0,
 1268.0,
 1269.0,
 132342.0,
 1271.0,
 1272.0,
 1273.0,
 132344.0,
 1277.0,
 1278.0,
 1279.0,
 1280.0,
 1281.0,
 1282.0,
 1283.0,
 1284.0,
 1285.0,
 34045.0,
 34057.0,
 99600.0,
 34065.0,
 132379.0,
 165159.0,
 32830.0,
 99642.0,
 165181.0,
 132422.0,
 1358.0,
 1359.0,
 1360.0,
 1361.0,
 66897.0,
 1363.0,
 1364.0,
 1365.0,
 1366.0,
 1367.0,
 1368.0,
 1369.0,
 1370.0,
 1371.0,
 1372.0,
 1373.0,
 1374.0,
 ...]

##### 5.1 finding nulls

##### 5.2 outliers

##### 5.3 feature extraction

##### 5.4 feature selection

In [32]:
data = [credits,keywords,links,movies_metadata,RatingMeansWithID]
[i.shape for i in data]

[(45476, 5), (46419, 3), (45843, 3), (45466, 24), (45115, 2)]

In [33]:
credits.shape

(45476, 5)

In [34]:
credits

,cast,crew,id,castlist,crewlist
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,"[{'cast_id': ' 14', 'character': ' Woody (voic...","[{'credit_id': ' 52fe4284c3a36847f8024f49', 'd..."
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,"[{'cast_id': ' 1', 'character': ' Alan Parrish...","[{'credit_id': ' 52fe44bfc3a36847f80a7cd1', 'd..."
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,"[{'cast_id': ' 2', 'character': ' Max Goldman'...","[{'credit_id': ' 52fe466a9251416c75077a89', 'd..."
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,"[{'cast_id': ' 1', 'character': ' ""Savannah Va...","[{'credit_id': ' 52fe44779251416c91011acb', 'd..."
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,"[{'cast_id': ' 1', 'character': ' George Banks...","[{'credit_id': ' 52fe44959251416c75039ed7', 'd..."
...,...,...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050,"[{'cast_id': ' 0', 'character': ' ', 'credit_i...","[{'credit_id': ' 5894a97d925141426c00818c', 'd..."
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109,"[{'cast_id': ' 1002', 'character': ' Sister An...","[{'credit_id': ' 52fe4af1c3a36847f81e9b15', 'd..."
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758,"[{'cast_id': ' 6', 'character': ' Emily Shaw',...","[{'credit_id': ' 52fe4776c3a368484e0c8387', 'd..."
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506,"[{'cast_id': ' 2', 'character': ' ', 'credit_i...","[{'credit_id': ' 533bccebc3a36844cf0011a7', 'd..."
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257,[{}],"[{'credit_id': ' 593e676c92514105b702e68e', 'd..."

In [35]:
CommonIDList = [int(i) for i in CommonIDList]
CommonIDList

[2,
 3,
 131074,
 5,
 6,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 24,
 25,
 26,
 27,
 28,
 131098,
 30,
 98328,
 33,
 35,
 98339,
 38,
 98344,
 131116,
 55,
 32825,
 58,
 59,
 65596,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 32834,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 65612,
 85,
 86,
 87,
 88,
 89,
 90,
 92,
 93,
 32862,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 65651,
 120,
 121,
 122,
 123,
 124,
 127,
 128,
 129,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 32941,
 182,
 183,
 184,
 185,
 186,
 187,
 98491,
 189,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 164041,
 203,
 204,
 205,
 206,
 207,
 164045,
 98507,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 65762,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 65796,
 98560,
 265,
 266,
 267,
 268,
 269,
 98566,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 33049,
 164123,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 98604,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 326,
 327,
 98631,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 33102,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 33117,
 33124,
 33126,
 131433,
 363,
 364,
 33134,
 33138,
 377,
 378,
 379,
 380,
 381,
 33150,
 383,
 33152,
 131457,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 395,
 396,
 397,
 398,
 33166,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 131476,
 131478,
 414,
 415,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 131504,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 164278,
 445,
 164286,
 164288,
 451,
 452,
 453,
 454,
 455,
 457,
 458,
 459,
 460,
 33226,
 462,
 33229,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 473,
 475,
 476,
 33245,
 479,
 480,
 481,
 482,
 483,
 33251,
 33253,
 33255,
 488,
 489,
 490,
 66025,
 492,
 493,
 494,
 496,
 497,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 33294,
 530,
 531,
 532,
 533,
 534,
 535,
 66066,
 537,
 66068,
 539,
 540,
 541,
 542,
 543,
 544,
 33310,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 33316,
 33318,
 33321,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 131634,
 567,
 568,
 66105,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 33340,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 164421,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 164443,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 33389,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 33421,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 131739,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 678,
 679,
 680,
 681,
 682,
 685,
 33454,
 687,
 688,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 164558,
 131792,
 33495,
 164580,
 742,
 744,
 745,
 746,
 747,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 131880,
 812,
 813,
 814,
 815,
 816,
 66344,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 836,
 837,
 838,
 839,
 840,
 841,
 131914,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 131916,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 131932,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 33644,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 33660,
 131966,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 164741,
 905,
 907,
 909,
 910,
 911,
 912,
 913,
 914,
 164753,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 931,
 932,
 934,
 935,
 936,
 164777,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 33709,
 946,
 947,
 948,
 949,
 950,
 951,
 99251,
 953,
 954,
 955,
 956,
 957,
 33725,
 132030,
 99258,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 975,
 976,
 977,
 33743,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 132064,
 996,
 33762,
 66537,
 1018,
 1023,
 1024,
 99329,
 33799,
 33801,
 1039,
 1040,
 99343,
 99345,
 99351,
 66584,
 1049,
 1050,
 1051,
 1052,
 132122,
 33817,
 33823,
 132128,
 66590,
 1058,
 1059,
 66592,
 99367,
 33838,
 132144,
 1073,
 1075,
 132148,
 132150,
 1088,
 1089,
 1090,
 1091,
 1092,
 1093,
 1103,
 1114,
 1115,
 1116,
 1123,
 1124,
 1125,
 1126,
 1127,
 66659,
 33914,
 132232,
 1162,
 1163,
 1164,
 1165,
 132236,
 66701,
 165023,
 66720,
 165027,
 99495,
 33974,
 99513,
 1213,
 33988,
 132298,
 33994,
 66762,
 33998,
 34004,
 1244,
 1245,
 1246,
 1247,
 1248,
 1249,
 1250,
 1251,
 1252,
 1253,
 1254,
 1255,
 34016,
 1257,
 1259,
 1260,
 1262,
 1265,
 1266,
 1267,
 1268,
 1269,
 132342,
 1271,
 1272,
 1273,
 132344,
 1277,
 1278,
 1279,
 1280,
 1281,
 1282,
 1283,
 1284,
 1285,
 34045,
 34057,
 99600,
 34065,
 132379,
 165159,
 32830,
 99642,
 165181,
 132422,
 1358,
 1359,
 1360,
 1361,
 66897,
 1363,
 1364,
 1365,
 1366,
 1367,
 1368,
 1369,
 1370,
 1371,
 1372,
 1373,
 1374,
 ...]

In [36]:
Final_Credit= credits[credits['id'].isin(CommonIDList)]
Final_Keyword= keywords[keywords['id'].isin(CommonIDList)]
Final_Links= links[links['id'].isin(CommonIDList)]


#Common_ID_Data = [Final_Credit,Final_Keyword,Final_Links,Final_Movies_metadata,Final_RatingMeansWithID]

In [37]:
Final_Credit

,cast,crew,id,castlist,crewlist
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,"[{'cast_id': ' 14', 'character': ' Woody (voic...","[{'credit_id': ' 52fe4284c3a36847f8024f49', 'd..."
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,"[{'cast_id': ' 1', 'character': ' Alan Parrish...","[{'credit_id': ' 52fe44bfc3a36847f80a7cd1', 'd..."
5,"[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de...",949,"[{'cast_id': ' 25', 'character': ' Lt. Vincent...","[{'credit_id': ' 52fe4292c3a36847f802916d', 'd..."
9,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...",710,"[{'cast_id': ' 1', 'character': ' James Bond',...","[{'credit_id': ' 52fe426ec3a36847f801e14b', 'd..."
14,"[{'cast_id': 1, 'character': 'Morgan Adams', '...","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de...",1408,"[{'cast_id': ' 1', 'character': ' Morgan Adams...","[{'credit_id': ' 52fe42f4c3a36847f802f69f', 'd..."
...,...,...,...,...,...
45416,"[{'cast_id': 1001, 'character': 'Masha', 'cred...","[{'credit_id': '52fe4a1c9251416c750de11b', 'de...",98604,"[{'cast_id': ' 1001', 'character': ' Masha', '...","[{'credit_id': ' 52fe4a1c9251416c750de11b', 'd..."
45443,"[{'cast_id': 12, 'character': 'princezna Helen...","[{'credit_id': '52fe440fc3a36847f807ffa3', 'de...",5589,"[{'cast_id': ' 12', 'character': ' princezna H...","[{'credit_id': ' 52fe440fc3a36847f807ffa3', 'd..."
45446,"[{'cast_id': 1, 'character': 'Gillian Grady', ...","[{'credit_id': '52fe46c7c3a36847f81119a1', 'de...",45527,"[{'cast_id': ' 1', 'character': ' Gillian Grad...","[{'credit_id': ' 52fe46c7c3a36847f81119a1', 'd..."
45460,"[{'cast_id': 3, 'character': 'All the members ...","[{'credit_id': '52fe478dc3a36847f813bd6b', 'de...",49280,"[{'cast_id': ' 3', 'character': ' All the memb...","[{'credit_id': ' 52fe478dc3a36847f813bd6b', 'd..."
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109,"[{'cast_id': ' 1002', 'character': ' Sister An...","[{'credit_id': ' 52fe4af1c3a36847f81e9b15', 'd..."

In [38]:
Final_Keyword

,id,keywords,keylist
0,862,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'id': ' 931', 'name': ' jealousy'}, {'id': '..."
1,8844,"[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'id': ' 10090', 'name': ' board game'}, {'id..."
5,949,"[{'id': 642, 'name': 'robbery'}, {'id': 703, '...","[{'id': ' 642', 'name': ' robbery'}, {'id': ' ..."
9,710,"[{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam...","[{'id': ' 701', 'name': ' cuba'}, {'id': ' 769..."
14,1408,"[{'id': 911, 'name': 'exotic island'}, {'id': ...","[{'id': ' 911', 'name': ' exotic island'}, {'i..."
...,...,...,...
46359,98604,[],[{}]
46386,5589,"[{'id': 3205, 'name': 'fairy tale'}, {'id': 13...","[{'id': ' 3205', 'name': ' fairy tale'}, {'id'..."
46389,45527,[],[{}]
46403,49280,[],[{}]
46415,111109,"[{'id': 2679, 'name': 'artist'}, {'id': 14531,...","[{'id': ' 2679', 'name': ' artist'}, {'id': ' ..."

In [39]:
Final_Links

#here id is float not int

       movieId   imdbId        id
0            1   114709     862.0
1            2   113497    8844.0
5            6   113277     949.0
9           10   113189     710.0
14          15   112760    1408.0
...        ...      ...       ...
45783   176143  2147597   98604.0
45810   176201   232750    5589.0
45813   176207  1331329   45527.0
45827   176237   135453   49280.0
45839   176271  2028550  111109.0

[7569 rows x 3 columns]

In [40]:
#Final_Movies_metadata= movies_metadata[movies_metadata['id'].isin(CommonIDList)]
#Final_RatingMeansWithID= RatingMeansWithID[RatingMeansWithID['id'].isin(CommonIDList)]

In [41]:
#Final_Movies_metadata

In [42]:
Final_Movies_metadata = movies_metadata[movies_metadata['id'].isin(CommonIDList)]

In [43]:
Final_Movies_metadata.head()

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count]
Index: []

In [44]:
print(movies_metadata['id'].head())  # Print the first few IDs in movies_metadata

0      862
1     8844
2    15602
3    31357
4    11862
Name: id, dtype: object

In [45]:
non_numeric_ids = movies_metadata[~movies_metadata['id'].str.isnumeric()]
print(non_numeric_ids[['id', 'title']])

               id title
19730  1997-08-20   NaN
29503  2012-09-29   NaN
35587  2014-01-01   NaN

In [46]:
movies_metadata = movies_metadata[movies_metadata['id'].str.isnumeric()]

In [47]:
movies_metadata['id'] = movies_metadata['id'].astype(int)

/tmp/ipykernel_186011/3525865833.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_metadata['id'] = movies_metadata['id'].astype(int)

In [48]:
common_ids_in_metadata = set(CommonIDList) & set(movies_metadata['id'].tolist())
print(f'Number of common IDs: {len(common_ids_in_metadata)}')

# Filter the movies_metadata based on CommonIDList
Final_Movies_metadata = movies_metadata[movies_metadata['id'].isin(CommonIDList)]
Final_Movies_metadata

Number of common IDs: 7565

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.924927,/zMyfPUelumio3tiDKPffaUpsQTD.jpg,"[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,14.686036,/5c0ovjT41KnYIHYuF4AWsTe3sKh.jpg,"[{'name': 'United Artists', 'id': 60}, {'name'...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",1995-11-16,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0
14,False,NaN,98000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,1408,tt0112760,en,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",7.284477,/odM9973kIv9hcjfHPp6g6BlyTIJ.jpg,"[{'name': 'Le Studio Canal+', 'id': 183}, {'na...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",1995-12-22,10017322.0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Course Has Been Set. There Is No Turning B...,Cutthroat Island,False,5.7,137.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45406,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,98604,tt2147597,ru,Zolushka,"Masha Krapivina - is yet beautiful, and not th...",0.803588,/cBFOyxe5HzIOIjJhipKQuslZsuV.jpg,"[{'name': 'Channel One Russia', 'id': 1039}, {...","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",2012-02-14,0.0,91.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Cinderella,False,4.6,6.0
45433,False,NaN,0,"[{'id': 10402, 'name': 'Music'}, {'id': 35, 'n...",NaN,5589,tt0232750,cs,Šíleně smutná princezna,No overview found.,0.375001,/9h5eegOHh1zoaHJCwu9meyVdQJk.jpg,"[{'name': 'Filmové Studio Barrandov', 'id': 19...","[{'iso_3166_1': 'CZ', 'name': 'Czech Republic'}]",1968-06-07,0.0,73.0,"[{'iso_639_1': 'cs', 'name': 'Český'}]",Released,NaN,Šíleně smutná princezna,False,6.1,4.0
45436,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 9648, 'n...",NaN,45527,tt1331329,en,The Final Storm,A stranger named Silas flees from a devastatin...,1.270832,/sEP5bLtK5IyQxOFtq5AYz4kUpzD.jpg,[{'name': 'Boll Kino Beteiligungs GmbH & Co. K...,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",2010-01-01,0.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Action, Horror",The Final Storm,False,3.7,11.0
45450,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",NaN,49280,tt0135453,fr,L'Homme orchestre,A band-leader has arranged seven chairs for th...,1.109068,/ZLOgI7KjtWby1NEg2pjU2Id60W.jpg,"[{'name': 'Star Film Company', 'id': 45867}]","[{'iso_3166_1': 'FR', 'name': 'France'}]",1900-01-01,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The One-Man Band,False,6.5,22.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0

In [49]:
print(Final_Movies_metadata['id'].head())

0      862
1     8844
5      949
9      710
14    1408
Name: id, dtype: int64

In [50]:
#Final_RatingMeansWithID= RatingMeansWithID[RatingMeansWithID['id'].isin(CommonIDList)]
#Final_RatingMeansWithID.head()
Final_RatingMeansWithID = RatingMeansWithID[RatingMeansWithID['id'].isin(CommonIDList)]

In [51]:
print(RatingMeansWithID.head())

      rating  id
id
1   3.888157   1
2   3.236953   2
3   3.175550   3
4   2.875713   4
5   3.079565   5

In [52]:
Final_RatingMeansWithID

          rating      id
id
2       3.236953       2
3       3.175550       3
5       3.079565       5
6       3.841764       6
11      3.660591      11
...          ...     ...
176077  3.500000  176077
176085  3.000000  176085
176143  3.500000  176143
176167  3.000000  176167
176273  1.000000  176273

[7565 rows x 2 columns]

In [53]:
""""

Now we need create one dataset that combine all of these :

                Final_RatingMeansWithID        
                Final_Credit      
                Final_Keyword       
                Final_Links      
                Final_Movies_metadata

"""

DataPrepared = pd.DataFrame()
DataPrepared

Empty DataFrame
Columns: []
Index: []

In [54]:
DataPrepared['id'] = CommonIDList
DataPrepared

          id
0          2
1          3
2     131074
3          5
4          6
...      ...
7560  131027
7561   32728
7562   98273
7563   98277
7564   65521

[7565 rows x 1 columns]

In [55]:
Final_Credit

,cast,crew,id,castlist,crewlist
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,"[{'cast_id': ' 14', 'character': ' Woody (voic...","[{'credit_id': ' 52fe4284c3a36847f8024f49', 'd..."
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,"[{'cast_id': ' 1', 'character': ' Alan Parrish...","[{'credit_id': ' 52fe44bfc3a36847f80a7cd1', 'd..."
5,"[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de...",949,"[{'cast_id': ' 25', 'character': ' Lt. Vincent...","[{'credit_id': ' 52fe4292c3a36847f802916d', 'd..."
9,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...",710,"[{'cast_id': ' 1', 'character': ' James Bond',...","[{'credit_id': ' 52fe426ec3a36847f801e14b', 'd..."
14,"[{'cast_id': 1, 'character': 'Morgan Adams', '...","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de...",1408,"[{'cast_id': ' 1', 'character': ' Morgan Adams...","[{'credit_id': ' 52fe42f4c3a36847f802f69f', 'd..."
...,...,...,...,...,...
45416,"[{'cast_id': 1001, 'character': 'Masha', 'cred...","[{'credit_id': '52fe4a1c9251416c750de11b', 'de...",98604,"[{'cast_id': ' 1001', 'character': ' Masha', '...","[{'credit_id': ' 52fe4a1c9251416c750de11b', 'd..."
45443,"[{'cast_id': 12, 'character': 'princezna Helen...","[{'credit_id': '52fe440fc3a36847f807ffa3', 'de...",5589,"[{'cast_id': ' 12', 'character': ' princezna H...","[{'credit_id': ' 52fe440fc3a36847f807ffa3', 'd..."
45446,"[{'cast_id': 1, 'character': 'Gillian Grady', ...","[{'credit_id': '52fe46c7c3a36847f81119a1', 'de...",45527,"[{'cast_id': ' 1', 'character': ' Gillian Grad...","[{'credit_id': ' 52fe46c7c3a36847f81119a1', 'd..."
45460,"[{'cast_id': 3, 'character': 'All the members ...","[{'credit_id': '52fe478dc3a36847f813bd6b', 'de...",49280,"[{'cast_id': ' 3', 'character': ' All the memb...","[{'credit_id': ' 52fe478dc3a36847f813bd6b', 'd..."
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109,"[{'cast_id': ' 1002', 'character': ' Sister An...","[{'credit_id': ' 52fe4af1c3a36847f81e9b15', 'd..."

In [56]:
Final_Keyword

,id,keywords,keylist
0,862,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'id': ' 931', 'name': ' jealousy'}, {'id': '..."
1,8844,"[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'id': ' 10090', 'name': ' board game'}, {'id..."
5,949,"[{'id': 642, 'name': 'robbery'}, {'id': 703, '...","[{'id': ' 642', 'name': ' robbery'}, {'id': ' ..."
9,710,"[{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam...","[{'id': ' 701', 'name': ' cuba'}, {'id': ' 769..."
14,1408,"[{'id': 911, 'name': 'exotic island'}, {'id': ...","[{'id': ' 911', 'name': ' exotic island'}, {'i..."
...,...,...,...
46359,98604,[],[{}]
46386,5589,"[{'id': 3205, 'name': 'fairy tale'}, {'id': 13...","[{'id': ' 3205', 'name': ' fairy tale'}, {'id'..."
46389,45527,[],[{}]
46403,49280,[],[{}]
46415,111109,"[{'id': 2679, 'name': 'artist'}, {'id': 14531,...","[{'id': ' 2679', 'name': ' artist'}, {'id': ' ..."

In [57]:
IDtoCastList = {k:v for k,v in zip (Final_Credit['id'].tolist() , Final_Credit['castlist'].tolist())}
IDtoCrewList = {k:v for k,v in zip (Final_Credit['id'].tolist() , Final_Credit['crewlist'].tolist())}
IDtoKeyList  = {k:v for k,v in zip (Final_Keyword['id'].tolist() , Final_Keyword['keylist'].tolist())}

In [58]:
Final_Credit[Final_Credit['id'] == 2]

,cast,crew,id,castlist,crewlist
4342,"[{'cast_id': 3, 'character': 'Taisto Olavi Kas...","[{'credit_id': '52fe420dc3a36847f800001f', 'de...",2,"[{'cast_id': ' 3', 'character': ' Taisto Olavi...","[{'credit_id': ' 52fe420dc3a36847f800001f', 'd..."

In [59]:
DataPrepared['castlist'] = DataPrepared['id'].map(IDtoCastList)
DataPrepared['crewlist'] = DataPrepared['id'].map(IDtoCrewList)
DataPrepared['keylist'] = DataPrepared['id'].map(IDtoKeyList)

DataPrepared

,id,castlist,crewlist,keylist
0,2,"[{'cast_id': ' 3', 'character': ' Taisto Olavi...","[{'credit_id': ' 52fe420dc3a36847f800001f', 'd...","[{'id': ' 240', 'name': ' underdog'}, {'id': '..."
1,3,"[{'cast_id': ' 5', 'character': ' Nikander', '...","[{'credit_id': ' 52fe420dc3a36847f8000077', 'd...","[{'id': ' 1361', 'name': ' salesclerk'}, {'id'..."
2,131074,"[{'cast_id': ' 2', 'character': ' Chris Lloyd'...","[{'credit_id': ' 52fe4b6dc3a368484e18897b', 'd...","[{'id': ' 9937', 'name': ' suspense'}, {'id': ..."
3,5,"[{'cast_id': ' 42', 'character': ' Ted the Bel...","[{'credit_id': ' 52fe420dc3a36847f800011b', 'd...","[{'id': ' 612', 'name': ' hotel'}, {'id': ' 61..."
4,6,"[{'cast_id': ' 7', 'character': ' Frank Wyatt'...","[{'credit_id': ' 52fe420dc3a36847f800023d', 'd...","[{'id': ' 520', 'name': ' chicago'}, {'id': ' ..."
...,...,...,...,...
7560,131027,"[{'cast_id': ' 4', 'character': ' Csontváry / ...","[{'credit_id': ' 52fe4b6cc3a368484e188547', 'd...","[{'id': ' 437', 'name': ' painter'}, {'id': ' ..."
7561,32728,"[{'cast_id': ' 3', 'character': ' Himself - wr...","[{'credit_id': ' 52fe44e69251416c91020be1', 'd...","[{'id': ' 9682', 'name': ' history'}, {'id': '..."
7562,98273,"[{'cast_id': ' 2', 'character': ' Martha', 'cr...","[{'credit_id': ' 52fe4a0a9251416c750dbab5', 'd...","[{'id': ' 13142', 'name': ' gangster'}, {'id':..."
7563,98277,"[{'cast_id': ' 11', 'character': ' Nora', 'cre...","[{'credit_id': ' 52fe4a0a9251416c750dbb21', 'd...","[{'id': ' 90', 'name': ' paris'}, {'id': ' 254..."
7564,65521,"[{'cast_id': ' 4', 'character': ' Rajat / Rajj...","[{'credit_id': ' 52fe470ec3a368484e0b27cf', 'd...",[{}]

### 6. visualization
___

### 7. building the model
___

### 8. evaluation the model
___